* {
    background:     #1e1e2e;
    background-alt: #181825;
    foreground:     #cdd6f4;
    selected:       #89b4fa;
    selected-fg:    #11111b;
    active:         #a6e3a1;
    urgent:         #f38ba8;
}
