* {
    background:     #0f1416;
    background-alt: #3f484b;
    foreground:     #dee3e5;
    selected:       #84d2e6;
    selected-fg:    #003640;
    active:         #bec4eb;
    urgent:         #ffb4ab;
}
